Temp properties container/old/node-red-mailgun/example-flow.json
[{"id":"191da42b.5d160c","type":"mailgun","z":"3fb5ff8f.14df2","name":"","x":790,"y":800,"wires":[["ed0b09f6.1472d8"]]},{"id":"7e7ec1e7.c13f8","type":"inject","z":"3fb5ff8f.14df2","name":"","topic":"","payload":"{\"email\":\"bruno@gif.pt\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":800,"wires":[["e68d9ebc.28a7a"]]},{"id":"ed0b09f6.1472d8","type":"debug","z":"3fb5ff8f.14df2","name":"mailgun debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1000,"y":800,"wires":[]},{"id":"e68d9ebc.28a7a","type":"function","z":"3fb5ff8f.14df2","name":"Mailgun msg example","func":"\nvar emailTemplate = '<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"> <html xmlns=\"http://www.w3.org/1999/xhtml\"> <head> <meta name=\"viewport\" content=\"width=device-width\"/> <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"/> <title>Academic Projects User invitation</title> <style type=\"text/css\"> *{margin:0; padding:0;}*{font-family: Roboto-Regular,Helvetica,Arial,sans-serif;}body{-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%!important; height: 100%;}a{color: #2BA6CB;}. btn{text-decoration:none; color: #FFF; background-color: #1991EB; margin-top: 5px; padding:10px 16px; font-weight:bold; margin-right:10px; text-align:center; cursor:pointer; display: inline-block; border-radius: 2px;}table.body- wrap{width: 100%;}h2{font-size: 24px; line-height: 28px; margin-bottom:15px; color:#000;}h2 small{color: #6f6f6f; text-transform:none; font-size: 20px;}p{margin-bottom: 10px; font-weight: normal; font-size:14px; line-height:1.4;}p small{font-size: 13px; line-height: 24px;}p.lead{font-size:17px;}. container{display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important;}.content{padding: 35px 20px; max-width:600px; margin:0 auto; display:block;}.content table{width: 100%;}@media only creen and (max-width: 600px){a[class=\"btn\"]{display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}}</style> </head> <body bgcolor=\"#FFFFFF\"> <table class=\"body-wrap\"> <tr> <td></td><td class=\"container\" bgcolor=\"#FFFFFF\"> <div class=\"content\"> <table> <tr> <td> <h2><small>Hi,</small> msg.payload.firstname msg.payload.lastname </h2> <br/> <p class=\"lead\">Welcome to the project management application for the University of Leiden!</p><br/> <p class=\"lead\">Cheerfully yours,<br/>Team Academic projects.</p><br/> <p><small>You can activate your account by clicking on this link:</small></p><a class=\"btn\" href=\" currentDomain /api/app/#/confirmation?activate=msg.payload.userId \">Click Me to Activate!</a> <br/> <br/> </td></tr></table> </div></td><td></td></tr></table> </body> </html>';\n\nvar emailTo  = msg.payload.email;\n\nmsg.payload = {\n                   \"apiKey\":\"5b308caa2e664054f2add1cdf7523d5a-bd350f28-d9a37032\",\n                   \"domain\":\"mail.thesellfish.com\",\n                   \"emailHeaders\":{\n                      \"from\":\"My mail service \",\n                      \"to\": emailTo,\n                      \"subject\":\"Test with mailgun\",\n                      \"body\":\"Test with mailgun\"\n                   },\n                   \"emailData\":{\n                      \"optional key-one\":\"some value\",\n                      \"optional key-two\":\"some other value !!!\"\n                   },\n                   \"emailTemplate\":emailTemplate\n                };\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":800,"wires":[["191da42b.5d160c"]]}]