customNodeModules/node-red-fsmanager/example-flow.json
[{"id":"c0bf4b91.d8cd08","type":"fsmanager","z":"13238d5f.f15063","name":"","x":1030,"y":280,"wires":[["b2b6c38f.25cef"]]},{"id":"9389cd16.5954d","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"listAll\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"listAll\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["c0bf4b91.d8cd08"]]},{"id":"fa6bff6b.bc7c2","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"listDir\", \"listPath\":\"/test-folder-full/SystemFiles/Icons\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"listDir\", \"listPath\":\"/test-folder-full/SystemFiles/Icons\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":100,"wires":[["c0bf4b91.d8cd08"]]},{"id":"b2b6c38f.25cef","type":"debug","z":"13238d5f.f15063","name":"File manager result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":360,"wires":[]},{"id":"e8d631e1.a28b4","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"createDir\", \"dirPath\":\"newfolder\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"createDir\", \"dirPath\":\"newfolder\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["c0bf4b91.d8cd08"]]},{"id":"5c4a443c.b03e8c","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"moveObject\", \"moveFrom\":\"/test-folder-full/SystemFiles/Icons/yml.png\", \"moveTo\":\"moving\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"moveObject\", \"moveFrom\":\"/test-folder-full/SystemFiles/New directory\", \"moveTo\":\"/New directory\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":260,"wires":[["c0bf4b91.d8cd08"]]},{"id":"6668a356.e2889c","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"renameObject\", \"renameFrom\":\"test-folder-full/yml.png\", \"renameTo\":\"newname.png\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"renameObject\", \"renameFrom\":\"/test-folder-full/SystemFiles/Icons/Lecturer.svg\", \"renameTo\":\"anewname.png\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":220,"wires":[["c0bf4b91.d8cd08"]]},{"id":"4bc15b86.bee694","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"readFile\", \"filePath\":\"testbig.xml\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"readFile\", \"filePath\":\"testbig1.xml\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":340,"wires":[["c0bf4b91.d8cd08"]]},{"id":"47142ec0.79416","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"writeFile\", \"filePath\":\"wfile1.txt\", \"fileData\":\"hello world!\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"writeFile\", \"filePath\":\"wfile1.txt\", \"fileData\":\"hello world!\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":380,"wires":[["c0bf4b91.d8cd08"]]},{"id":"ecdf95dc.7e2978","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"copyObject\", \"copyFrom\":\"wfile1.txt\", \"copyTo\":\"test-folder-empty/wfile1.txt\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\",\"fsop\":\"copyObject\", \"copyFrom\":\"wfile1.txt\", \"copyTo\":\"test-folder-empty/wfile1.txt\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":300,"wires":[["c0bf4b91.d8cd08"]]},{"id":"3be31ab0.a55836","type":"inject","z":"13238d5f.f15063","name":"{\"fileSystemPath\" : \"/home\", \"openOnFolder\" : \"test-folder-full/SystemFiles/Icons/\",\"fsop\":\"removeObject\", \"removePath\":\"/test-folder-full/SystemFiles/Icons/PhD.png\"}","topic":"","payload":"{\"fileSystemPath\" : \"/home\", \"openOnFolder\" : \"test-folder-full/SystemFiles/Icons/\",\"fsop\":\"removeObject\", \"removePath\":\"/test-folder-full/SystemFiles/Icons/PhD.png\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":180,"wires":[["c0bf4b91.d8cd08"]]}]